<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/documents">Documents</a></li>
    <li class="breadcrumb-item active">Edit Document</li>
  </ol>
</nav>

<h2>Document Information</h2>
@if (feedback.message) {
  <div class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
}
@if (document) {
  <form #editForm="ngForm" (ngSubmit)="save()">
    @if (document.id) {
      <mat-form-field class="full-width">
        <mat-label>ID</mat-label>
        <input matInput [(ngModel)]="document.id" id="id" name="id" placeholder="ID" readonly>
      </mat-form-field>
    }
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="document.name" id="name" name="name" placeholder="Name" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Content</mat-label>
      <input matInput [(ngModel)]="document.original" id="content" name="content" placeholder="Content" required>
    </mat-form-field>

    <div class="button-row" role="document">
      <button type="submit" mat-raised-button color="primary" [disabled]="!editForm.form.valid" id="save">Save</button>
      <button type="button" mat-button color="accent" (click)="cancel()" id="cancel">Cancel</button>
    </div>
  </form>
}
